/* ⛏️ Wumpus Mining */
.image__98a59{
  background-image: url(https://github.com/T0B0TR0N/HollowDiscord/blob/main/miner.png) !important;
}

/* 🗻 Wumpus Mountains */
.image__98a59 {
  background-image: url(https://github.com/T0B0TR0N/HollowDiscord/blob/main/Cornifer.png) !important;
}

/* 💤 Wumpus Sleeping */
.image__98a59 {
  background-image: url(https://raw.githubusercontent.com/T0B0TR0N/HollowDiscord/main/Cornifer-removebg-preview.png) !important;
}

/* 🍵 Wumpus Tea Party */
.image__98a59 {
  background-image: url(https://raw.githubusercontent.com/T0B0TR0N/HollowDiscord/main/Cornifer-removebg-preview.png) !important;
}
